@font-face {
	font-family: "Gilroy";
	font-weight: 800;
	font-style: normal;
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
	     url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 300;
	font-style: normal;
	src: url("../fonts/gilroylight.woff2") format("woff2"),
		 url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "OpenSans";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/opensans.woff2") format("woff2"),
		 url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "OpenSans";
	font-weight: 300;
	font-style: normal;
	src: url("../fonts/opensanslight.woff2") format("woff2"),
		 url("../fonts/opensanslight.woff") format("woff");
}

body {
	margin: 0;
	padding: 0;
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.15px;
	background-color: white;
}

a {
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
}

img {
	max-width: 100%;
	height: auto;
}


.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.header-container {
	display: flex;
	flex-direction: column;
	width: 1160px;
	min-height: 340px;
	margin: auto;
	background-color: lightblue;
}

.header-logo {
	display: flex;
	margin-top: 21px;
	margin-left: 60px;
}

.header-first-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: lightcoral;
}

.header-search {
	display: flex;
	margin-left: 60px;
	background-color: lightcyan;
}

.header-search-input {
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	color: black;
	opacity: 0.3;
	border: none;
}

.header-search-input:hover {
	opacity: 0.6;
}

.header-search-input:focus {
	opacity: 1;
}

.no-button {
	background-color: transparent;
	border: none;
}

.header-search-btn {
	color: transparent;
	background-color: transparent;
	border: none;
}

.header-search-btn:hover {
	color: white;
	background-color: rgba(0, 0, 0, 1);
}

.header-search-btn:active {
	color: rgba(255, 255, 255, 0.3);
}

.header-user-item-button,
.footer-user-item-button {
	border: none;
	background-color: transparent;
	font-weight: 300;
	font-size: 15px;
	color: black;
	opacity: 0.3;
}

.header-user-item-button:hover {
	color: rgba(0, 0, 0, 0.6);
}

.header-user-list {
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 560;
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: 300;
	color: black;
	background-color: lightgoldenrodyellow;
}

.header-user-item {
	display: flex;
	flex-direction: row;
}

.link-enter {
	display: flex;
	flex-direction: row;
	width: 287px;
}

.link-cart {
	display: flex;
	flex-direction: row;
	width: 144px;
}

.link-compare {
	display: flex;
	flex-direction: row;
	width: 130px;
}

.header-user-item:hover {
	color: black;
	opacity: 0.6;
}

.header-user-item:active {
	color: black;
	opacity: 0.3;
}

.header-menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: 60px;
	background-color: lightgray;
}

.header-menu-list {
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.header-menu-list a:hover {
	opacity: 0.6;
}

.header-menu-list a:active {
	opacity: 0.3;
}

.header-menu-item:first-child:hover {
	display: block;
	position: relative;
}

.header-menu-submenu-list {
	display: none;
	margin: 0;
	padding: 0;
	text-transform: none;
}

.header-menu-catalog:hover .header-menu-submenu-list {
	display: block;
	position: absolute;
	z-index: 2;
}

.header-menu-submenu-item {
	list-style: none;
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 0.15px;
}

.header-menu-catalog {
	margin-right: 294px;
}

.header-menu-delivery {
	margin-right: 40px;
}

.header-menu-warranty {
	margin-right: 115px;
}

.header-menu-submenu-item a:hover {
	opacity: 0.6;
}

.header-menu-submenu-item a:active {
	opacity: 0.3;
}

.slider-item {
	list-style: none;
	font-family: "Gilroy", "Arial", sans-serif;
	letter-spacing: 0.15px;
	font-weight: 800;
}

.slider-item-number {
	font-size: 179px;
	line-height: 179px;
	color: white;
}

.slider-item-promo {
	font-size: 47px;
	line-height: 56px;
}

.slider-item-desc {
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
}

.slider-item-table-value td {
	font-weight: 300;
	font-size: 36px;
	line-height: 48px;
}

.slider-item-table-desc th {
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	color: #464646;
}

.btn {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}

.category-item {
	list-style: none;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.category-item:active {
	opacity: 0.3; 
}

.service-item {
	list-style: none;
}

.service-item-link {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}

.service-item-link:active {
	color: #f7e184;
}

.service-item-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.15px;
}

.service-item-desc {
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
}

.brands-item {
	list-style: none;
}

.about-contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1160px;
	min-height: 657px;
	margin: auto;
	background-color: lightgreen;
}

.about,
.contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: lightpink;
}

.about h2,
.contacts h2 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.15px;
}

.about-info,
.contacts-p {
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.15px;
	color: #464646;
}

.about-delivery-item {
	font-weight: 900;
	font-size: 16px;
	line-height: 40px;
}

.footer {
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: #464646;
}

.footer-center {
	display: flex;
	flex-direction: column;
	width: 1160px;
	margin: auto;
	background-color: blue;
}

.footer-first-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-user-list {
	display: flex;
	flex-direction: row;
}

.footer-compare {
	margin-right: 44px;
}

.footer-login {
	margin-right: 44px;
}

.footer-second-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-services-list {
	display: flex;
	flex-direction: row;
}

.footer-services-link {
	margin-right: 38px;
}

.footer-third-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-socials-list {
	display: flex;
	flex-direction: row;
}

.footer-user-item {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-user-item a {
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.7);
}

.footer-user-item a:hover {
	color: rgba(255, 255, 255, 1);
}

.footer-user-item a:active {
color: rgba(255, 255, 255, 0.3);
}

.footer-address,
.footer-phone {
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: rgba(255, 255, 255, 1);
}

.footer-services-item,
.footer-socials-item {
	list-style: none;
}

.footer-services-item a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
}

.footer-socals-item a {
	opacity: 0.3;
}

.footer-socals-item a:hover {
	opacity: 0.6;
}

.footer-socals-item a:active {
	opacity: 0.1;
}

.footer-academy-logo:hover {
	 opacity: 0.6;
}

.footer-academy-logo:active {
	 opacity: 0.3;
}

.catalog-headline {
	display: flex;
	flex-direction: column;
	width: 1160px;
	margin: auto;
	background-color: blueviolet;
}

.headline {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0,15px;
}

.breadcrumbs-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.breadcrumbs-item {
	list-style: none;
}

.breadcrumbs-item a {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item a:active {
	color: rgba(0, 0, 0, 0.1);
}

.catalog-main-flex {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.filter-flex {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	align-items: flex-end;
	background-color: lightcyan;
}

.sort-flex {
	display: flex;
	flex-direction: column;
	flex-grow: 2.536;
	background-color: lightgoldenrodyellow;
}

.filter-sort {
	display: flex;
	width: 200px;
	min-height: 70px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	background-color: lightsalmon;
}

.filter-sign {
	justify-content: flex-end;
}

.sort {
	display: flex;
}

.filter-form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.filter-form-fieldset {
	display: flex;
	width: 200px;
	align-items: flex-start;
	border: none;
}

.filter-form-legend {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.filter-form-checkbox-item,
.filter-form-radio-item {
	list-style: none;
}
.filter-form-label {
	font-weight: 300;
	font-size: 14px;
	line-height: 40px;
}

.btn.no-button {
	width: 200px;
}

.sort-type-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.sort-direction-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.sort-type-item,
.sort-direction-item {
	list-style: none;
}

.sort-type-link,
.sort-type-link--active {
	font-size: 14px;
	line-height: 18px;
}

.sort-type-link--active {
	color: rgba(0, 0, 0, 1);
}

.sort-type-link {
	color: rgba(0, 0, 0, 0.3);
}

.sort-type-link:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sort-type-link:active {
	color: rgba(0, 0, 0, 1);
}

.sort-direction-link {
	opacity: 0.3;
}

.sort-direction-link:hover {
	opacity: 0.6;
}

.sort-direction-link:active {
	opacity: 1;
}

.catalog-wrapper {
	width: 832px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.catalog {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.catalog-list {
	display: flex;
	flex-direction: row;
	width: 832px;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: lime;
}

.catalog-item-desc {
	display: flex;
	flex-direction: row;
	width: 360px;
	min-height: 465px;
	flex-wrap: wrap;
}

.catalog-item-desc-title {
	width: 260px;
	background-color: mediumaquamarine;
}

.catalog-item-desc-price {
	width: 100px;
	background-color: mediumorchid;
}

.catalog-item {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.catalog-item-desc-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.catalog-item-desc-price {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.catalog-item-desc-new {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.7px;
	color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
	display: flex;
	flex-direction: row;
}

.pagination-item {
	list-style: none;
}

.pagination-item-link-direction,
.pagination-item-link,
.pagination-item-link--active {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.pagination-item-link-direction:active {
	color: rgba(0, 0, 0, 0.3);
}

.popup-contact,
.popup-map {
	display: none;
}