@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15px;

  background-color: white;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  position: relative;

  min-height: 186px;
  margin-top: 40px;
  
  color: #000000;
  background-color: #f7e296;
}

.header-logo {
  position: absolute;
  top: -19px;
  left: 60px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header-user-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.header-user-item {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;

  list-style: none;
}

.link-search {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-search {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  width: 470px;
  margin-right: 89px;
}

.header-search-input {
  position: relative;

  width: 352px;
  padding: 0;
  margin-top: 43px;
  margin-left: 21px;
  padding-bottom: 7px;
  padding-left: 36px;

  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;

  border: none;
  color: #000000;
  outline: none;
  background-color: transparent;

  cursor: pointer;
}

.header-search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.header-search-label::before {
  content: "";
  position: absolute;
  left: 63px;
  top: 51px;

  width: 36px;
  padding-bottom: 30px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;

  cursor: pointer;
}

.header-search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.header-search-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.header-search-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.header-search-input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.header-search-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.header-search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.header-search-input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.header-search-input:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.header-search-input:hover:-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.header-search-input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.header-search-input:focus {
  color: rgba(0, 0, 0, 1);
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.header-search-input:focus::placeholder {
  font-size: 0px;
}

.header-search-input:focus::-webkit-input-placeholder {
  font-size: 0px;
}

.header-search-input:focus::-moz-placeholder {
  font-size: 0px;
}

.header-search-input:hover:-moz-placeholder {
  font-size: 0px;
}

.header-search-input:hover:-ms-input-placeholder {
  font-size: 0px;
}

.header-search-btn {
  display: none;
  width: 85px;
  min-height: 49px;
  margin: 0;

  color: #000000;
  background-color: transparent;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  border: 2px solid #000000;

  cursor: pointer;
}

.header-search-input:focus ~ .header-search-btn {
  display: block;

  color: rgba(0, 0, 0, 1);
  background-color: transparent;
}

.header-search-input:focus ~ .header-search-btn:hover {
  display: block;

  color: rgba(255, 255, 255, 1);
  background-color: black;
}

.header-search-input ~ .header-search-btn:active {
  display: block;

  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.header-search-btn:active ~ .header-search-input {
  border-bottom: 2px solid #000000;
}

.link-enter {
  margin-top: 50px;
}

.header-user-item-enter {
  position: relative;
  padding-left: 27px;
  margin-right: 218px;
}

.header-user-item-enter::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);

  width: 13px;
  height: 12px;

  background-image: url(../img/enter.svg);
  background-repeat: no-repeat;

  cursor: pointer;
}

.link-compare {
  margin-top: 50px;
}

.header-user-item-compare {
  position: relative;
  padding-left: 20px;
  margin-right: 42px;
}

.header-user-item-compare::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);

  width: 10px;
  height: 10px;

  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;

  cursor: pointer;
}

.link-cart {
  margin-top: 50px;
}

.header-user-item-cart {
  position: relative;
  padding-left: 22px;
}

.header-user-item-cart::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);

  width: 12px;
  height: 12px;

  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;

  cursor: pointer;
}

.header-user-list a{
  opacity: 1;
}

.header-user-list a:hover {
  opacity: 0.6;
}

.header-user-list a:active {
  opacity: 0.3;
}

.header-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  list-style: none;
}

.header-menu-item {
  display: flex;
  flex-wrap: wrap;

  margin-top: 15px;
}

.header-menu-catalog {
  position: relative;
  
  margin-left: 60px;
}

.header-menu-catalog-link {
  position: relative;
  padding-right: 28px;
  margin-right: 293px;
}

.header-menu-catalog-link::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  
  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  opacity: 0.3;

  cursor: pointer;
}

.header-menu-delivery-link {
  margin-right: 35px;
}

.header-menu-warranty-link {
  margin-right: 108px;
}

.header-menu-submenu-list {
  display: none;
}

.header-menu-submenu-list::before {
  content: "";
  position: absolute;
  left: 60px;
  top: -22px;
  
  width: 250px;
  height: 30px;
}

.header-menu-catalog-link:hover ~ .header-menu-submenu-list {
  position: absolute;
  top: 20px;
  left: -60px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 1160px;
  min-height: 143px;
  margin-top: 25px;


  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;

  list-style: none;
  background-color: #f7e296;
  z-index: 3;
}

.header-menu-submenu-list:hover {
  position: absolute;
  top: 20px;
  left: -60px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 1160px;
  min-height: 143px;
  margin-top: 25px;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;

  list-style: none;
  background-color: #f7e296;
  z-index: 3;
}

.header-menu-submenu-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  width: 200px;
  margin-left: 0px;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-transform: none;

  list-style: none;
}

.first-column {
  width: 240px;
  margin-left: 60px;
}

.header-menu-list a {
  color: rgba(0, 0, 0, 1);
}

.header-menu-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-menu-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-list {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
}

.slider-item::before {
  content: "";
  position: absolute;

  width: 100%;
  min-height: 113px;

  background-color: #f7e296;
  z-index: -5;
}

.promo-slider-left,
.promo-slider-right {
  width: 560px;
}

.promo-slider-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.promo-slider-right {
  position: relative;
}

.slider-item-number {
  position: absolute;
  top: -13px;
  left: 330px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;

  color: #ffffff;
}

.slider-item-promo {
  position: relative;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 0px;
  

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.47px;
  font-weight: 800;
}

.slider-item-promo::before {
  content:"";
  position: absolute;
  top: 40px;
  left: 0px;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slider-item-desc {
  margin-top: 20px;
  
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.promo-btn {
  position: relative;

  display: inline-block;
  margin-top: 35px;
  
  width: 220px;

  text-align: center;
  font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
  letter-spacing: 3.6px;
  color: #000000;

  border: 1px solid red;
}

.promo-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);

  width: 220px;
  height: 8px;

  background-color: #f0c52e;

  z-index: -5;
}

.promo-btn:hover::before {
  top: 10px;
  height: 40px;

  transition: all linear;
}

.promo-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-item-table {
  margin: 0;
  margin-top: 55px;
}

.slider-item-table-value td {
  width: 160px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.slider-item-table-value td:nth-child(2) {
  width: 140px;
}

.slider-item-table-desc th {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
}


.header-slider-controls {
  position: absolute;
  right: 50px;
  bottom: 190px;

}

.header-slider-controls label {
  display: inline-block;

  width: 24px;
  height: 24px;
  margin-right: 10px;

  background-image: url(../img/slider-button.svg);
  background-repeat: no-repeat;
  transform: scale(0.5);
  cursor: pointer;
}


#product-1:checked ~ .slider-list #slide-1,
#product-2:checked ~ .slider-list #slide-2,
#product-3:checked ~ .slider-list #slide-3 {
  display: block;
}

#product-1:checked ~ .slider-list #slide-1,
#product-2:checked ~ .slider-list #slide-2,
#product-3:checked ~ .slider-list #slide-3 {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#product-1:checked ~ .slider-list label[for="product-1"],
#product-2:checked ~ .slider-list label[for="product-2"],
#product-3:checked ~ .slider-list label[for="product-3"] {
  background-image: url(../img/slider-button-active.svg);
}



/*

.category-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.category-item {
	display: flex;
	flex-direction: column;
	width: 160px;
	justify-content: center;
	list-style: none;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.15px;
	background-color: beige;
}

.category-item:active {
	opacity: 0.3; 
}

.brands-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.brands-item {
	width: 260px;
}

.service-item {
	list-style: none;
	justify-content: space-around;
}

.service-item-link {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}

.service-item-link:active {
	color: #f7e184;
}

.service-item-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.15px;
}

.service-item-desc {
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
}

.brands-item {
	list-style: none;
}

.about-contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 657px;
	background-color: lightgreen;
}

.about,
.contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: lightpink;
}

.about h2,
.contacts h2 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.15px;
}

.about-info,
.contacts-p {
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.15px;
	color: #464646;
}

.about-delivery-item {
	font-weight: 900;
	font-size: 16px;
	line-height: 40px;
}

.footer {
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: #464646;
}

.footer-center {
	display: flex;
	flex-direction: column;
	background-color: blue;
}

.footer-first-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-user-list {
	display: flex;
	flex-direction: row;
}

.footer-compare {
	margin-right: 44px;
}

.footer-login {
	margin-right: 44px;
}

.footer-second-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-services-list {
	display: flex;
	flex-direction: row;
}

.footer-services-link {
	margin-right: 38px;
}

.footer-third-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-socials-list {
	display: flex;
	flex-direction: row;
}

.footer-user-item {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-user-item a {
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.7);
}

.footer-user-item a:hover {
	color: rgba(255, 255, 255, 1);
}

.footer-user-item a:active {
color: rgba(255, 255, 255, 0.3);
}

.footer-address,
.footer-phone {
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: rgba(255, 255, 255, 1);
}

.footer-services-item,
.footer-socials-item {
	list-style: none;
}

.footer-services-item a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
}

.footer-socals-item a {
	opacity: 0.3;
}

.footer-socals-item a:hover {
	opacity: 0.6;
}

.footer-socals-item a:active {
	opacity: 0.1;
}

.footer-academy-logo:hover {
	 opacity: 0.6;
}

.footer-academy-logo:active {
	 opacity: 0.3;
}

.catalog-headline {
	display: flex;
	flex-direction: column;
	width: 1160px;
	margin: auto;
	background-color: blueviolet;
}

.headline {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0,15px;
}

.breadcrumbs-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.breadcrumbs-item {
	list-style: none;
}

.breadcrumbs-item a {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-item a:active {
	color: rgba(0, 0, 0, 0.1);
}

.catalog-main-flex {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.filter-flex {
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	align-items: flex-end;
	background-color: lightcyan;
}

.sort-flex {
	display: flex;
	flex-direction: column;
	flex-grow: 2.536;
	background-color: lightgoldenrodyellow;
}

.filter-sort {
	display: flex;
	width: 200px;
	min-height: 70px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
	background-color: lightsalmon;
}

.filter-sign {
	justify-content: flex-end;
}

.sort {
	display: flex;
}

.filter-form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.filter-form-fieldset {
	display: flex;
	width: 200px;
	align-items: flex-start;
	border: none;
}

.filter-form-legend {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.filter-form-checkbox-item,
.filter-form-radio-item {
	list-style: none;
}
.filter-form-label {
	font-weight: 300;
	font-size: 14px;
	line-height: 40px;
}

.btn.no-button {
	width: 200px;
}

.sort-type-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.sort-direction-list {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.sort-type-item,
.sort-direction-item {
	list-style: none;
}

.sort-type-link,
.sort-type-link--active {
	font-size: 14px;
	line-height: 18px;
}

.sort-type-link--active {
	color: rgba(0, 0, 0, 1);
}

.sort-type-link {
	color: rgba(0, 0, 0, 0.3);
}

.sort-type-link:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sort-type-link:active {
	color: rgba(0, 0, 0, 1);
}

.sort-direction-link {
	opacity: 0.3;
}

.sort-direction-link:hover {
	opacity: 0.6;
}

.sort-direction-link:active {
	opacity: 1;
}

.catalog-wrapper {
	width: 832px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.catalog {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.catalog-list {
	display: flex;
	flex-direction: row;
	width: 832px;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: lime;
}

.catalog-item-desc {
	display: flex;
	flex-direction: row;
	width: 360px;
	min-height: 465px;
	flex-wrap: wrap;
}

.catalog-item-desc-title {
	width: 260px;
	background-color: mediumaquamarine;
}

.catalog-item-desc-price {
	width: 100px;
	background-color: mediumorchid;
}

.catalog-item {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.catalog-item-desc-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.catalog-item-desc-price {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.catalog-item-desc-new {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.7px;
	color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
	display: flex;
	flex-direction: row;
}

.pagination-item {
	list-style: none;
}

.pagination-item-link-direction,
.pagination-item-link,
.pagination-item-link--active {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.pagination-item-link-direction:active {
	color: rgba(0, 0, 0, 0.3);
}

.popup-contact,
.popup-map {
	display: none;
}